create table public.conversations (
  id uuid not null default gen_random_uuid (),
  user_id uuid null,
  title text not null default 'New chat'::text,
  created_at timestamp with time zone not null default now(),
  updated_at timestamp with time zone not null default now(),
  is_guest boolean null default false,
  seconds_remaining integer null,
  constraint conversations_pkey primary key (id)
) TABLESPACE pg_default;

create index IF not exists conversations_user_id_idx on public.conversations using btree (user_id) TABLESPACE pg_default;




create table public.entitlements (
  user_id uuid not null,
  plan text not null default 'free'::text,
  seconds_remaining integer not null default 60,
  updated_at timestamp with time zone null default now(),
  stripe_customer_id text null,
  stripe_subscription_id text null,
  status text null default 'inactive'::text,
  trial_seconds_per_day integer null,
  trial_last_reset date null,
  trial_seconds_remaining integer null,
  current_streak integer not null default 0,
  last_streak_date date null,
  constraint entitlements_pkey primary key (user_id),
  constraint entitlements_user_id_fkey foreign KEY (user_id) references auth.users (id) on delete CASCADE
) TABLESPACE pg_default;

create index IF not exists idx_entitlements_customer on public.entitlements using btree (stripe_customer_id) TABLESPACE pg_default;

create index IF not exists idx_entitlements_subscription on public.entitlements using btree (stripe_subscription_id) TABLESPACE pg_default;




create table public.messages (
  id uuid not null default gen_random_uuid (),
  conversation_id uuid not null,
  role text not null,
  content text not null,
  created_at timestamp with time zone not null default now(),
  constraint messages_pkey primary key (id),
  constraint messages_conversation_id_fkey foreign KEY (conversation_id) references conversations (id) on delete CASCADE,
  constraint messages_role_check check (
    (
      role = any (array['user'::text, 'assistant'::text])
    )
  )
) TABLESPACE pg_default;

create index IF not exists messages_conversation_id_idx on public.messages using btree (conversation_id) TABLESPACE pg_default;




create table public.user_memories (
  user_id uuid not null,
  content jsonb null default '{}'::jsonb,
  updated_at timestamp with time zone null default now(),
  embedding public.vector null,
  constraint user_memories_pkey primary key (user_id),
  constraint unique_user_memory unique (user_id, content),
  constraint user_memories_user_id_fkey foreign KEY (user_id) references auth.users (id) on delete CASCADE
) TABLESPACE pg_default;

create index IF not exists user_memories_embedding_idx on public.user_memories using ivfflat (embedding)
with
  (lists = '100') TABLESPACE pg_default;




  create table public.achievements (
  id text not null,
  name text not null,
  description text not null,
  constraint achievements_pkey primary key (id)
) TABLESPACE pg_default;




create table public.user_achievements (
  id uuid not null default gen_random_uuid (),
  user_id uuid not null,
  achievement_id text not null,
  unlocked_at timestamp with time zone not null default now(),
  constraint user_achievements_pkey primary key (id),
  constraint user_achievements_user_id_achievement_id_key unique (user_id, achievement_id),
  constraint user_achievements_achievement_id_fkey foreign KEY (achievement_id) references achievements (id),
  constraint user_achievements_user_id_fkey foreign KEY (user_id) references auth.users (id) on delete CASCADE
) TABLESPACE pg_default;




create table public.app_config (
  key text not null,
  value text not null,
  constraint app_config_pkey primary key (key)
) TABLESPACE pg_default;




create table public.usage_log (
  id bigserial not null,
  user_id uuid not null,
  created_at timestamp with time zone null default now(),
  seconds_stt integer null default 0,
  seconds_tts integer null default 0,
  tokens_in integer null default 0,
  tokens_out integer null default 0,
  chars_tts integer null default 0,
  constraint usage_log_pkey primary key (id)
) TABLESPACE pg_default;




