@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 251 100% 99%;
  }
}

@layer utilities {
  .scrollbar-discreet::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar-discreet::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-discreet::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.2);
    border-radius: 20px;
  }

  .scrollbar-discreet::-webkit-scrollbar-thumb:hover {
    background-color: rgba(156, 163, 175, 0.4);
  }
}
